html, body{
   /* background-color: black;*/
}

@font-face {
   font-family: 'charlinda';
   src: url('../assets/fonts/charlinda.ttf') format('truetype');
}

h1{
   font-family: 'charlinda';
   padding: 30px;
   text-align: center;
}